<!DOCTYPE html>
<html lang="en">
<head>
  <title>instaAds</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <link rel="stylesheet" type="text/css" href="/static/table.css">

</head>
<body>
  <script>
  function myFunction2() {
    var x = document.getElementById("myDIV2");
    if  (document.getElementById("post").checked == true) {
      x.style.display = "block";
    }
    else {
      x.style.display = "none";
    }
  }
  </script>
  <div class="container-fluid">
    <div class="row" style="margin-top:4%;">
      <div class="col-sm-3">
        <form action="/" method="GET">
          <button type="submit" style="margin-bottom:5%;">Apply</button>
          <div class="list-group">
            <h3>Price</h3>
            <ul style="list-style: none;">
              <li>
                <label for="minp"><b>Min price:</b></label>
                <input type="number" placeholder="Min Price" name="minp" >
              </li>
              <li>
                <label for="maxp"><b>Max price:</b></label>
                <input type="number" placeholder="Max Price" name="maxp" >
              </li>
            </ul>

          </div>
          <div class="list-group">
            <label for="niche"><h3>Niche</h3></label>
            <ul style="list-style: none;">
              <li><label><input type="checkbox" value="memes" name="niche"> Memes</label></li>
              <li><label><input type="checkbox" value="funnyvideos" name="niche"  > Funny Videos</label></li>
              <li><label><input type="checkbox" value="animals" name="niche"  > Animals</label></li>
              <li><label><input type="checkbox" value="carsandbikes" name="niche"  > Cars & Bikes</label></li>
              <li><label><input type="checkbox" value="luxury" name="niche"  > Luxury</label></li>
              <li><label><input type="checkbox" value="motivation" name="niche"  > Motivation</label></li>
              <li><label><input type="checkbox" value="fanpages" name="niche"  > Fanpages</label></li>
              <li><label><input type="checkbox" value="travel" name="niche"  > Travel</label></li>
              <li><label><input type="checkbox" value="food" name="niche"  > Food</label></li>
              <li><label><input type="checkbox" value="fashion" name="niche"  > Fashion</label></li>
              <li><label><input type="checkbox" value="quotes" name="niche"  > Quotes</label></li>
            </ul>
          </div>
          <!--
          <div class="list-group">
            <label for="type"><h3>Type of Ad</h3></label>
            <ul style="list-style: none;">
              <li><label><input type="checkbox" value="post" name="type" > Post</label></li>
              <li><label><input type="checkbox" value="storie" name="type" > Storie</label></li>
              <label for="minh"><b>Min Hours:</b></label>
              <input type="number" placeholder="Min hours" name="minh" >
            </ul>
          </div> -->
          <div class="list-group">
            <label for="type"><h3>Type</h3></label>
              <ul style="list-style: none;">
                <div class="row">
                  <div class="col-sm-3"><li><label><input id="post" type="checkbox" onclick="myFunction2()" value="post" name="type"> Post</input></label></li></div>
                  <div class="col-sm-3"><li><label><input type="checkbox" onclick="myFunction2()" value="storie" name="type" > Storie</input></label></li></div>
                </div>
              </ul>
              <div id="myDIV2" style="display: none;margin-top:25px; margin-bottom:25px;">
                <label for="minh"><b>Min duration(hours):</b></label>
                <input type="number" placeholder="Hours" name="minh" value="0" required>
              </div>
          </div>
          <div class="list-group">
            <h3>Followers</h3>
            <ul style="list-style: none;">
              <li>
                <label for="minf"><b>Min Followers:</b></label>
                <input type="number" placeholder="Min Followers" name="minf" >
              </li>
              <li>
                <label for="maxf"><b>Max Followers:</b></label>
                <input type="number" placeholder="Max Followers" name="maxf" >
              </li>
            </ul>
          </div>
        </form>
      </div>
      <div class="col-sm-9">

        <table id="t01">
          <tr>
            <th>Username</th>
            <th>Type</th>
            <th>Price</th>
            <th>Niche</th>
            <th>Followers</th>
          </tr>
          <% for (var i = 0; i < ad.length; i++) { %>
            <tr>
              <td> ***<%= ad[i].ig_username.slice(4,40) %></td>
              <td>
                <% if (ad[i].type == "storie") { %>
                  <%= ad[i].type %>
                <% } else { %>
                  post(<%=(ad[i].hours) %>h)
                <% } %>
              </td>
              <td>
                <% if (ad[i].payment == "cross promotion") { %>
                  <%= ad[i].payment %>
                <% } else { %>
                  <%= ad[i].price %>
                <% } %>
              </td>
              <td><%= ad[i].niche %></td>
              <td><%= ad[i].followers %></td>
            </tr>
            <% } %>
        </table>



      </div>


    </div>
  </div>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/getpromoted">instaAds</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="/getpromoted">GET PROMOTED</a></li>
          <li><a href="/promote">PROMOTE</a></li>
          <li><a href="/myads">MY ADS</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/users/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/users/login" onclick="document.getElementById('id01').style.display='block'"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>


  <!--<footer class="container-fluid text-center bg-grey">
    <a href="#" title="To Top">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p>Bootstrap Theme Made By <a href="https://www.w3schools.com" title="Visit w3schools">www.w3schools.com</a></p>
  </footer>-->




</body>
</html>
